div { 
    font-family: Oswald; 
    color: #333; 
    text-align: center; 
    text-transform: uppercase;
    padding: 40px 0; 
}
.wrapper::after {
    content: "";
    display: tsble;
    clear: both;
}


.section { 
    height: 200px; 
    margin-bottom: 10px; 
    float: left; 
    width: 33.333333%; 
    background-color: #ccc; 
}

/* Окремо для b2 */
.b2 { 
    background-color: #ddd; 
}
.b1, .b3 {background-color: #ccc}

.b4 { 
    background-color: #c8d5f0; 
    width: 240px; 
    margin-top: 50px; 
    clear: left; /* Очищує float */
}

/* Очищення потоку */
.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

#header, #footer { 
    clear: both; 
    width: 100%; 
    background-color: #eee;
    padding: 20px 0;
}
