* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    font-family: 'Oswald', Arial, sans-serif; 
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background: #ddd;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.footer {
    background: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.content {
    display: flex;
}

.section {
    width: 33.3333%;
    background: #ccc;
    padding: 20px;
}

.section:nth-child(2) {
    background: #ddd;
}
